version: "3.9"

services:
  qdrant:
    image: qdrant/qdrant:v1.16.3
    container_name: qdrant
    ports:
      - "6333:6333"
    volumes:
      - qdrant_storage:/qdrant/storage
    restart: unless-stopped

  api:
    build: .
    container_name: api
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - qdrant
    restart: unless-stopped

volumes:
  qdrant_storage:
